@model Order
<div class="container text-center mt-5">
	<div class="mb-3">
		Device name : @Model.Device.Name
	</div>
	<div class="mb-3">
		Device type : @Model.Device.Type
	</div>
	<div class="mb-3">
		Device problem description: @Model.Device.ProblemDescription
	</div>
</div>