@model DeviceViewModel
<div class="container text-center mt-5">
	<div class="mb-3">
		Device name : @Model.Name
	</div>
	<div class="mb-3">
		Device type : @Model.Type
	</div>
	<div class="mb-3">
		Device problem description: @Model.ProblemDescription
	</div>
</div>