<DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
		<link href="~/css/site.css" rel="stylesheet"/>
		<link href="~/css/HomeIndex.css" rel="stylesheet"/>
		<link href="~/css/HomeLogin.css" rel="stylesheet"/>
		<link href="~/css/Register.css" rel="stylesheet"/>
		<title>Service center</title>
	</head>

	<body>
		<div class="wrapper">
			<div class="content">
				<header>
					<nav class="navbar navbar-expand-sm navbar-collapse navbar-dark bg-dark justify-content-center">
						<div class="container-fluid">
							<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
								<ul class="navbar-nav">
									<li class="nav-item">
										<a asp-controller="Home" asp-action="Index">Service center</a>
									</li>
									<li class="nav-item">
										<a asp-controller="Order" asp-action="CheckOrderStatus">Check repair stasus</a>
									</li>
									<li class="nav-item">
										<a asp-controller="Home" asp-action="Index">Service center</a>
									</li>
								</ul>
								@if(!User.Identity.IsAuthenticated)
								{
									<div class="justify-content-end">
										<a class="btn btn-primary nav__button" asp-controller="Account" asp-action="Login">
										<span>Sign in</span>
									</a>
									<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">
										<span>Sign up</span>
									</a>
									</div>
								}
								else
								{

							<div class="justify-content-end">
								@if (User.HasClaim(ClaimTypes.Role, "Administrator")
									&& !User.HasClaim(ClaimTypes.Role, "Master"))
								{
									<a class="btn btn-outline-info" asp-controller="About"
									   asp-action="AboutStateOfProject">
										About state of project
									</a>
									<a class="btn btn-outline-primary" asp-controller="Panel"
									   asp-action="ManageOrder">
										Order management
									</a>
									<a class="btn btn-outline-danger" asp-controller="Account"
									   asp-action="Logout">
										<span>Logout</span>
									</a>
								}
								else if (User.HasClaim(ClaimTypes.Role, "Administrator")
									|| User.HasClaim(ClaimTypes.Role, "Master"))
								{
									<a class="btn btn-outline-primary" asp-controller="Panel"
									   asp-action="ManageOrder">
										Order management
									</a>
									<a class="btn btn-outline-danger" asp-controller="Account"
									   asp-action="Logout">
										<span>Logout</span>
									</a>
									}
								else
								{
									<a class="btn btn-outline-danger" asp-controller="Account" asp-action="Logout">
										<span>Logout</span>
									</a>
								}
							</div>
								}
							</div>
						</div>
					</nav>
				</header>
				<div>
					@RenderBody()
				</div>
			</div>
			<div class="footer text-center">
				<span>
					<b>SC is open to discuss new projects and options for expanding cooperation with the world's leading manufacturers of computer and office equipment</b>
				</span>
				<footer>&copy; Service center</footer>
			</div>
		</div>
	</body>

	</html>
</DOCTYPE>