<div class="container-fluid hello">
	<div class="hello__body">
		<div class="hello__header">
			Hi, Welcome to our service center website!
		</div>
		<div class="hello__text">
			Here you can check the status of the repair of your device, and also get acquainted with our company
		</div>
	</div>
</div>

<div class="about">
	<div class="about__body">
		<div class="about__header-main">
			<h3>
				<span>
					More about our company:
				</span>
			</h3>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						Our mission is high quality service
					</span>
				</h3>
			</div>
			<div class="about__description">
				We provide professional and uninterrupted service to users of computer equipment from the world's leading manufacturers
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						The features that make SC unique in the service market are:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						SC is a federal-level company with dozens of its own service divisions in Russia
					</li>
					<li class="list-group-item">
						SC is a company that works specifically in the IT industry, we do not service household appliances and electronics in the broad sense of the word, but specialize only in the repair of high-tech devices that are part of the Information Technology segment
					</li>
					<li class="list-group-item">
						SC is an exclusively service company, we are professionally engaged in the only type of business - repair and maintenance of complex computer equipment
					</li>
				</ul>
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						Our advantages:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						A Russian brand that has existed since 2005, which is trusted by a large circle of global manufacturers of computer and office equipment and is widely known in the market
					</li>
					<li class="list-group-item">
						Own service centers are located throughout Russia, from Kaliningrad to Vladivostok
					</li>
					<li class="list-group-item">
						Centralized management system for all service centers based on a single proprietary information system
					</li>
					<li class="list-group-item">
						Several hundred professional engineers with the necessary certificates and permits to carry out work of any complexity
					</li>
					<li class="list-group-item">
						A wide network of partner service centers, providing geographic service coverage of those regions and cities where there are no SC own service centers
					</li>
					<li class="list-group-item">
						Impeccable provision of all manufacturers' requirements for the organization of maintenance and repair of each type of equipment
					</li>
					<li class="list-group-item">
						Uninterrupted control and monitoring of all repair events throughout the SC service network in on-line mode
					</li>
					<li class="list-group-item">
						Powerful logistics complex in Moscow, providing centralized storage and shipment of spare parts to all our own and partner service centers
					</li>
				</ul>
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						SC offers manufacturers of computer and office equipment:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						Solution of the entire range of issues related to the organization of service maintenance and repair of computer and office equipment throughout Russia
					</li>
					<li class="list-group-item">
						Construction of logistics processes in terms of storage and movement of spare parts for computer and office equipment, including import and export of specialized products
					</li>
					<li class="list-group-item">
						Customer information support by our own call-center, including the organization of dedicated channels for the "hot line"
					</li>
					<li class="list-group-item">
						Mode of operation in the form of "one window", when all issues are resolved through a dedicated manager
					</li>
					<li class="list-group-item">
						The ability to provide any reports on the work performed, the movement of material values, etc.
					</li>
					<li class="list-group-item">
						Assistance in organizing face-to-face trainings and technical seminars at the company's classroom in Moscow
					</li>
					<li class="list-group-item">
						Participation in tenders for the supply of equipment to large customers as a service company of the federal level
					</li>
					<li class="list-group-item">
						Offsite customer service; - organization of service maintenance of equipment for corporate clients
					</li>
					<li class="list-group-item">
						Disposal of defective assemblies, components and faulty equipment
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>