<div class="container-fluid hello">
	<div class="hello__body">
		<div class="hello__header">
			Привет, Добро пожаловать на сайт <br> нашего сервисного центра!
		</div>
		<div class="hello__text">
			Здесь вы можете проверить статус <br> ремонта вашего устройства,<br> а также познакомиться с нашей компанией.
		</div>
	</div>
</div>

<div class="about">
	<div class="about__body">
		<div class="about__header-main">
			<h3>
				<span>
					Подробнее о нашей компании
				</span>
			</h3>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						Наша миссия – высококачественный сервис
					</span>
				</h3>
			</div>
			<div class="about__description">
				Мы обеспечиваем профессиональное и бесперебойное обслуживание пользователей компьютерной техники ведущих мировых производителей
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						Особенности, которые делают SC уникальной компанией на рынке сервисного обслуживания:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						SC - компания федерального уровня,  имеющая десятки собственных сервисных подразделений на территории России
					</li>
					<li class="list-group-item">
						SC - компания, которая работает именно в IT индустрии, мы не занимаемся обслуживанием бытовой техники и электроники в широком смысле этого слова, а специализируемся только на ремонте высокотехнологичных устройств, входящих в сегмент Информационных технологий
					</li>
					<li class="list-group-item">
						SC - исключительно сервисная компания, мы профессионально занимаемся единственным видом бизнеса – ремонтом и техническим обслуживанием сложной компьютерной техники
					</li>
				</ul>
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						Наши преимущества:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						Существующий с 2005 года российский бренд, который пользуется доверием большого круга мировых производителей компьютерной и офисной техники и широко известен на рынке
					</li>
					<li class="list-group-item">
						собственные сервисные центры расположены по всей России, от Калининграда до Владивостока
					</li>
					<li class="list-group-item">
						Централизованная система управления всеми сервисными центрами на базе единой информационной системы собственной разработки
					</li>
					<li class="list-group-item">
						Несколько сотен профессиональных инженеров, имеющих необходимые сертификаты и допуски для проведения работ любого уровня сложности
					</li>
					<li class="list-group-item">
						Широкая сеть партнерских сервисных центров, обеспечивающая географическое покрытие сервисом тех регионов и городов, где нет собственных сервисных центров SC
					</li>
					<li class="list-group-item">
						Безупречное обеспечение всех требований производителей по организации обслуживания и ремонта каждого вида техники
					</li>
					<li class="list-group-item">
						Бесперебойный контроль и мониторинг всех ремонтных событий по всей сервисной сети SC в режиме on-line
					</li>
					<li class="list-group-item">
						Мощный логистический комплекс в Москве, обеспечивающий централизованное хранение и пересылку запасных частей во все собственные и партнерские сервисные центры
					</li>
				</ul>
			</div>
		</div>
		<div class="about__item">
			<div class="about__header">
				<h3>
					<span>
						SC предлагает производителям компьютерной и офисной техники:
					</span>
				</h3>
			</div>
			<div class="about__description">
				<ul class="list-group list-group-numbered">
					<li class="list-group-item">
						Решение всего спектра вопросов по организации сервисного технического обслуживания и ремонта компьютерной и офисной техники на всей территории России
					</li>
					<li class="list-group-item">
						Построение логистических процессов в части хранения и движения запасных частей компьютерной и офисной техники, включая импорт и экспорт профильной продукции
					</li>
					<li class="list-group-item">
						Информационную поддержку клиентов силами собственного call-центра, включая организацию выделенных каналов для «горячей линии»
					</li>
					<li class="list-group-item">
						Режим работы в виде «одного окна», когда все вопросы решаются через выделенного менеджера
					</li>
					<li class="list-group-item">
						Возможность предоставления любых отчетов о выполненных работах, движении материальных ценностей и т.п.
					</li>
					<li class="list-group-item">
						Помощь в организации очных тренингов и технических семинаров на базе учебного класса компании в Москве
					</li>
					<li class="list-group-item">
						Участие в тендерах на поставку техники крупным заказчикам в качестве сервисной компании федерального уровня
					</li>
					<li class="list-group-item">
						Выездное обслуживание заказчиков; - организацию сервисного обслуживания техники для корпоративных клиентов
					</li>
					<li class="list-group-item">
						Утилизацию дефектных узлов, комплектующих и неисправного оборудования
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>